{% extends "main.html" %}

{% block content %}
  <h2>Page not found</h2>
  <p>It seems you are lost!</p>
  <a class="md-button md-button--primary" href="/">Back to home</a>
{% endblock %}

{% block disqus %}{% endblock %}
