{% extends "base.html" %}

{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = title ~ " - " ~ page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title | striptags %}
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="{{ config.site_url }}static/preview.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="640" />
  <meta name="twitter:card" content="summary_large_image" />
{% endblock %}

{% block header %}
<header class="md-header" data-md-component="header"></header>
{% endblock %}

{% block tabs %}{% endblock %}

{% set extracopyright %}
<p>
Website by <a href="https://romain-clement.net" title="Romain Clement Website">Romain Clement</a>
<br>
Artwork by <a href="https://www.linkedin.com/in/nad%C3%A8ge-mamola-75622334" title="Nadège Mamola on LinkedIn">Nadège Mamola</a>
<br>
Privacy-first analytics tracking powered by <a href="https://chiffre.io" title="Chiffre Website">Chiffre</a>
<br>
This website is open-source software under <a href="https://gitlab.com/hambush/website/-/blob/master/LICENSE" title="License">AGPL-3 license</a>
<br>
Version <a href="https://gitlab.com/hambush/website/-/blob/master/CHANGELOG.md" title="Changelog">{{ config.extra.version }}</a>
</p>
{% endset %}
