[data-md-color-scheme="hambush"] {
  --hambush-yellow: #f6d349;
  --hambush-red: #d0391e;
  --hambush-dark: #363636;
  --hambush-darker: #1b1709;
  --hambush-text: #4a4a4a;

  --md-default-bg-color: var(--hambush-yellow);
  --md-primary-fg-color: var(--hambush-darker);
  --md-accent-fg-color: var(--hambush-red);
}

.hidden {
  display: none;
}

.md-typeset {
  color: var(--hambush-text);
}

.md-typeset h1 {
  color: var(--hambush-dark);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
}

.md-typeset h2 {
  color: var(--hambush-dark);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25;
}

.md-typeset blockquote {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
